body {
  padding: 0;
  margin: 0;
}

.wrap {
  width: 700px;
  margin: 2rem auto;
}

.wrap .form  {
  display: flex;
  flex-direction: column;
} 
.wrap .form input {
  margin-bottom: 2rem;
  padding: 0.5rem;
}
.wrap .form button {
  padding: 0.5rem;
}
#output {
  margin-top: 1rem;
}
.wrap-item {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
#book-image {
  max-width: 100%;
}
#output {
  display: grid;
  grid-template-columns: 1fr 1fr;
}